@charset "UTF-8";
#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #fbfbfb url("//cdnjs.cloudflare.com/ajax/libs/file-uploader/3.7.0/processing.gif") no-repeat center
        center;
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 1s linear;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
}

:root {
  --color-main-buttons-orange: linear-gradient(180deg,  #FF834B 0%,  #FE664E 100%);
  --color-main-cards: #f7f7f7;
  --color-main-white: #fff;
  --color-main-titles-black: #1e1e1e;
  --color-main-text-gray: #575757;
  --color-main-text-orange: #d25e5a;
  --color-main-text-orange-hover: #b14440;
  --color-main-light-gray: #a0a0a0;
  --fz-main-title: 3.4375rem;
  --fz-main-subtitle: 2.5rem;
  --fz-main-phone: 1.5rem;
  --fz-main-label: 1.375rem;
  --fz-main-small-subtitle: 1.25rem;
  --fz-main-inputs: 18px;
  --fz-main-text: 1rem;
  --fz-main-small-text: 0.875rem;
  --fz-main-very-small-text: 0.75rem;
}
@media (max-width: 1170px) {
  :root {
    --fz-main-title: 2.5rem;
  }
}
@media (max-width: 800px) {
  :root {
    --fz-main-phone: 1.125rem;
  }
}
@media (max-width: 767px) {
  :root {
    --fz-main-title: 2rem;
    --fz-main-subtitle: 2rem;
  }
}
@media (max-width: 479px) {
  :root {
    --fz-main-title: 1.75rem;
    --fz-main-label: 1.125rem;
    --fz-main-subtitle: 1.75rem;
  }
}
@media (max-width: 380px) {
  :root {
    --fz-main-title: 1.375rem;
    --fz-main-subtitle: 1.375rem;
  }
}

@font-face {
  font-family: TTNormsPro;
  font-display: swap;
  src: url("../fonts/TTNormsPro-Bold.woff2") format("woff2"), url("../fonts/TTNormsPro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: TTNormsPro;
  font-display: swap;
  src: url("../fonts/TTNormsPro-Regular.woff2") format("woff2"), url("../fonts/TTNormsPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: var(--color-main-text-gray);
  line-height: 1;
  font-family: "TTNormsPro";
  font-size: var(--fz-main-text);
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "TTNormsPro";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 73.125rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.button {
  background: linear-gradient(180deg, #ff834b 0%, #fe664e 100%);
  box-shadow: 0px 3px 0px #d7493f;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  transition: all 0.3s ease 0s;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.button::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(226, 226, 226, 0.1) 0%, rgba(104, 68, 68, 0.1) 35%, rgba(226, 226, 226, 0.1) 100%);
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .button:hover::after {
    left: 0;
  }
}
.button:active {
  transform: translateY(3px);
  box-shadow: 0px 0px 0px #d7493f;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 20;
}
.header__inner {
  min-height: 136px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  position: relative;
  z-index: 110;
}
@media (max-width: 650px) {
  .header__inner {
    justify-content: flex-start;
  }
}
@media (max-width: 420px) {
  .header__inner {
    min-height: 110px;
  }
}
.header__logo img {
  max-width: 100%;
}
@media (max-width: 420px) {
  .header__logo img {
    max-width: 50px;
  }
}
@media (max-width: 650px) {
  .header__logo {
    margin-right: 30px;
  }
}
@media (max-width: 420px) {
  .header__logo {
    margin-right: 15px;
  }
}
.header__text-about {
  max-width: 206px;
  font-size: var(--fz-main-text);
  line-height: 120%;
  color: var(--color-main-light-gray);
}
@media (max-width: 420px) {
  .header__text-about {
    font-size: 14px;
  }
}
@media (max-width: 360px) {
  .header__text-about {
    max-width: 180px;
  }
}
.header__button button {
  font-size: var(--fz-main-very-small-text);
  line-height: 14px;
  padding-top: 21px;
  padding-bottom: 21px;
  padding-left: 34px;
  padding-right: 34px;
  border-radius: 30px;
}
@media (max-width: 1100px) {
  .header__button {
    display: none;
  }
}
@media (max-width: 980px) {
  .header__mail {
    display: none;
  }
}
.header__social {
  display: flex;
}
.header__social a {
  margin-right: 15px;
}
.header__social a:last-child {
  margin-right: 0;
}
.header__social img {
  width: 24px;
  height: 24px;
}
@media (max-width: 800px) {
  .header__social {
    display: none;
  }
}
@media (max-width: 650px) {
  .header__graph {
    display: none;
  }
}
.mail-header__text {
  font-weight: 400;
  font-size: var(--fz-main-text);
  line-height: 120%;
  color: var(--color-main-light-gray);
  margin-bottom: 3px;
}
.mail-header__mail {
  display: flex;
  align-items: center;
}
.mail-header__mail img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.mail-header__mail a {
  font-weight: 700;
  font-size: var(--fz-main-text);
  line-height: 118%;
  color: var(--color-main-titles-black);
  position: relative;
}
.mail-header__mail a::after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  transform: scale(0);
  width: 100%;
  height: 1px;
  background: var(--color-main-titles-black);
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .mail-header__mail a:hover::after {
    transform: scale(1);
  }
}

.graph-header {
  text-align: right;
}
.graph-header__timing {
  margin-bottom: 3px;
}
.graph-header__timing span {
  font-size: var(--fz-main-text);
  line-height: 120%;
  color: var(--color-main-light-gray);
}
.graph-header__phone {
  display: flex;
  align-items: center;
  margin-bottom: 3px;
}
.graph-header__phone img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.graph-header__phone a {
  font-weight: 700;
  font-size: var(--fz-main-phone);
  line-height: 120%;
  color: var(--color-main-titles-black);
  position: relative;
}
.graph-header__phone a::after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  transform: scale(0);
  width: 100%;
  height: 1px;
  background: var(--color-main-titles-black);
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .graph-header__phone a:hover::after {
    transform: scale(1);
  }
}
.graph-header__call-me a {
  font-weight: 700;
  font-size: var(--fz-main-small-text);
  line-height: 120%;
  text-transform: uppercase;
  color: var(--color-main-text-orange);
  transition: all 0.3s ease 0s;
  border-bottom: 2px dashed var(--color-main-text-orange);
}
@media (any-hover: hover) {
  .graph-header__call-me a:hover {
    color: var(--color-main-text-orange-hover);
    border-bottom: 2px dashed var(--color-main-text-orange-hover);
  }
}

@media (max-width: 1100px) {
  .menu {
    position: fixed;
    z-index: 100;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease 0s;
    background: #f7f7f7;
    padding-top: 190px;
    padding-bottom: 30px;
    overflow: hidden;
  }
  .menu::after {
    content: "";
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    min-height: 136px;
    background: var(--color-main-cards);
    transition: all 0.3s ease 0s;
    z-index: 110;
  }
  .menu.menu-open {
    right: 0;
    overflow: auto;
  }
  .menu.menu-open::after {
    right: 0;
  }
}
@media (max-width: 650px) {
  .menu {
    padding-top: 160px;
  }
}
@media (max-width: 420px) {
  .menu {
    padding-top: 140px;
  }
}
.menu__body {
  padding-left: 30px;
  padding-right: 30px;
}
.menu__list {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1100px) {
  .menu__list {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
@media (max-width: 1100px) {
  .menu__item {
    display: block;
    margin-bottom: 25px;
  }
  .menu__item:last-child {
    margin-bottom: 0;
  }
}
.menu__link {
  font-weight: 700;
  font-size: var(--fz-main-text);
  line-height: 24px;
  text-transform: uppercase;
  color: var(--color-main-text-gray);
  position: relative;
}
.menu__link::after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  transform: scale(0);
  width: 100%;
  height: 2px;
  background: var(--color-main-text-orange);
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .menu__link:hover::after {
    transform: scale(1);
  }
}
@media (max-width: 1100px) {
  .menu__link {
    font-size: 26px;
  }
}
@media (max-width: 420px) {
  .menu__link {
    font-size: 22px;
  }
}

.menu-active-link {
  color: var(--color-main-text-orange);
}

.newloc {
  display: none;
}
@media (max-width: 1100px) {
  .newloc {
    display: flex;
    justify-content: center;
    padding-top: 30px;
  }
}

.newloc2 {
  display: none;
}
@media (max-width: 980px) {
  .newloc2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
  }
}

.newloc3 {
  display: none;
}
@media (max-width: 800px) {
  .newloc3 {
    display: flex;
    justify-content: center;
    padding-top: 30px;
  }
}

.newloc4 {
  display: none;
}
@media (max-width: 650px) {
  .newloc4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 1100px) {
  .icon-menu {
    display: block;
    position: relative;
    width: 2.1875rem;
    height: 1.5625rem;
    cursor: pointer;
    z-index: 150;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.25rem;
    background-color: var(--color-main-text-orange);
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
  .icon-menu.menu-open span {
    width: 0;
  }
  .icon-menu.menu-open::before {
    top: calc(50% - 0.125rem);
    transform: rotate(-45deg);
  }
  .icon-menu.menu-open::after {
    bottom: calc(50% - 0.125rem);
    transform: rotate(45deg);
  }
}
@media (max-width: 650px) {
  .icon-menu {
    margin-left: auto;
    width: 1.875rem;
  }
}

.label {
  position: relative;
  z-index: 15;
}
.label__body {
  padding-top: 231px;
  padding-bottom: 193px;
}
@media (max-width: 767px) {
  .label__body {
    padding-top: 180px;
    padding-bottom: 120px;
  }
}
@media (max-width: 29.99875em) {
  .label__body {
    padding-bottom: 50px;
  }
}
@media (max-width: 420px) {
  .label__body {
    padding-top: 160px;
    padding-bottom: 30px;
  }
}
.label__title {
  max-width: 700px;
  font-weight: 700;
  font-size: var(--fz-main-title);
  line-height: 120%;
  color: var(--color-main-titles-black);
  margin-bottom: 20px;
}
@media (max-width: 1170px) {
  .label__title {
    max-width: 620px;
  }
}
@media (max-width: 767px) {
  .label__title {
    max-width: 500px;
  }
}
@media (max-width: 479px) {
  .label__title {
    max-width: 380px;
  }
}
.label__text {
  font-size: var(--fz-main-label);
  line-height: 26px;
  color: var(--color-main-text-gray);
  margin-bottom: 41px;
}
.label__button {
  position: relative;
  z-index: 5;
}
.label__button button {
  font-size: var(--fz-main-small-subtitle);
  padding-top: 37px;
  padding-bottom: 37px;
  padding-left: 70px;
  padding-right: 70px;
  border-radius: 50px;
}
@media (max-width: 47.99875em) {
  .label__button button {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media (max-width: 29.99875em) {
  .label__button button {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 16px;
  }
}
.label__background-ibg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}
.label__background-smoke-ibg {
  position: absolute;
  bottom: 103px;
  left: 0;
  max-height: 550px;
  width: 100%;
  height: 100%;
  z-index: -1;
}
@media (max-width: 1170px) {
  .label__background-smoke-ibg {
    bottom: 0;
  }
}

.services {
  margin-top: -102px;
  z-index: 18;
  position: relative;
}
@media (max-width: 767px) {
  .services {
    margin-top: 0;
  }
}
.services__title {
  font-size: var(--fz-main-subtitle);
  line-height: 48px;
  text-align: center;
  color: var(--color-main-titles-black);
  max-width: 970px;
  margin: 0 auto;
  margin-bottom: 68px;
}
.services__title span {
  font-weight: 700;
}
@media (max-width: 500px) {
  .services__title {
    margin-top: 20px;
    margin-bottom: 60px;
  }
}
@media (max-width: 479px) {
  .services__title {
    line-height: 24px;
  }
}
.services__param {
  margin-bottom: 41px;
}
.services__box {
  position: relative;
}
.services__bg {
  position: absolute;
  z-index: -1;
  top: -90px;
  right: -48px;
}
@media (max-width: 1160px) {
  .services__bg {
    display: none;
  }
}
.services__bg2 {
  position: absolute;
  z-index: -1;
  bottom: 216px;
  left: 0;
}
@media (max-width: 1160px) {
  .services__bg2 {
    display: none;
  }
}
.services__cards {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
  margin-top: -20px;
}
@media (max-width: 75em) {
  .services__cards {
    justify-content: center;
  }
}
.services__item {
  flex: 0 1 575px;
  padding: 0 10px;
  padding-top: 20px;
  display: flex;
}
@media (max-width: 1160px) {
  .services__item {
    flex: 0 1 950px;
  }
}
.services__elem {
  padding-top: 40px;
  padding-left: 40px;
  padding-bottom: 40px;
  padding-right: 30px;
  background: var(--color-main-cards);
  border-radius: 20px;
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  min-height: 310px;
}
@media (max-width: 620px) {
  .services__elem {
    padding: 20px;
  }
}
.services__background-ibg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.services__background-ibg img {
  border-radius: 20px;
}
.services__content {
  flex: 1 0 289px;
  margin-right: 25px;
}
@media (max-width: 620px) {
  .services__content {
    flex: 1 1 100%;
    margin-right: 0;
  }
}
@media (max-width: 520px) {
  .services__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}
.services__subtitle {
  font-weight: 700;
  font-size: var(--fz-main-small-subtitle);
  line-height: 24px;
  color: var(--color-main-titles-black);
  max-width: 272px;
  margin-bottom: 20px;
}
@media (max-width: 520px) {
  .services__subtitle {
    margin: 0 auto;
    margin-bottom: 25px;
  }
}
.services__text {
  font-size: var(--fz-main-text);
  line-height: 19px;
  color: var(--color-main-text-gray);
  margin-bottom: 30px;
}
@media (max-width: 520px) {
  .services__text {
    margin-bottom: 0;
  }
}
.services__button button {
  border-radius: 30px;
  font-size: var(--fz-main-text);
  padding-top: 28px;
  padding-bottom: 28px;
  padding-left: 55px;
  padding-right: 55px;
}
@media (max-width: 620px) {
  .services__button button {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: var(--fz-main-small-text);
  }
}
@media (max-width: 520px) {
  .services__button {
    padding-top: 250px;
    margin: 0 auto;
  }
}
@media (max-width: 360px) {
  .services__button {
    padding-top: 230px;
  }
}
.services__image {
  flex: 0 1 289px;
  position: relative;
}
.services__image img {
  max-width: 100%;
  position: relative;
  z-index: 1;
  max-height: 150px;
}
.services__image::after {
  content: "";
  position: absolute;
  bottom: -30px;
  right: -9px;
  width: 159px;
  height: 159px;
  background-color: #fff;
  border-radius: 50%;
}
@media (max-width: 1160px) {
  .services__image::after {
    bottom: -25px;
    right: 80px;
  }
}
@media (max-width: 900px) {
  .services__image::after {
    bottom: -30px;
    right: -9px;
  }
}
@media (max-width: 900px) {
  .services__image {
    flex: 0 1 215px;
  }
}
@media (max-width: 620px) {
  .services__image {
    flex: 0 0 215px;
  }
}
@media (max-width: 520px) {
  .services__image {
    position: absolute;
    bottom: 125px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.param-services__cards {
  display: flex;
  justify-content: space-between;
  max-width: 807px;
}
@media (max-width: 700px) {
  .param-services__cards {
    max-width: 500px;
    flex-wrap: wrap;
  }
}
@media (max-width: 500px) {
  .param-services__cards {
    justify-content: center;
  }
}
.param-services__item {
  display: flex;
  align-items: center;
}
@media (max-width: 700px) {
  .param-services__item {
    margin-right: 25px;
    margin-bottom: 25px;
  }
  .param-services__item:last-child {
    margin-right: 0;
    margin-bottom: 0;
  }
}
@media (max-width: 500px) {
  .param-services__item {
    flex: 1 1 100%;
    margin: 0;
    justify-content: center;
    margin-bottom: 25px;
  }
  .param-services__item:last-child {
    margin-bottom: 0;
  }
}
.param-services__item img {
  width: 40px;
  height: 40px;
  margin-right: 15px;
}
.param-services__item p {
  max-width: 154px;
  font-size: var(--fz-main-text);
  line-height: 19px;
  color: var(--color-main-text-gray);
}

.form-services {
  position: relative;
  z-index: 5;
  margin: 0 auto;
}
.form-services__title {
  font-weight: 700;
  text-align: center;
  font-size: var(--fz-main-small-subtitle);
  line-height: 24px;
  color: var(--color-main-white);
  margin-bottom: 20px;
}
.form-services__inputs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.form-services__inputs input {
  max-width: 180px;
  width: 100%;
  padding: 15px 10px;
  background: var(--color-main-white);
  border-radius: 20px;
  font-size: var(--fz-main-inputs);
  line-height: 22px;
  color: var(--color-main-light-gray);
  margin-right: 20px;
  outline: none;
}
.form-services__inputs input:last-child {
  margin-right: 0;
}
@media (max-width: 460px) {
  .form-services__inputs {
    flex-direction: column;
    align-items: center;
  }
  .form-services__inputs input {
    max-width: 250px;
    margin-right: 0;
    margin-bottom: 15px;
  }
  .form-services__inputs input:last-child {
    margin-bottom: 0;
  }
}
.form-services__button {
  margin-bottom: 10px;
}
.form-services__button button {
  margin: 0 auto;
  border-radius: 30px;
  padding-top: 28px;
  padding-bottom: 28px;
  padding-left: 55px;
  padding-right: 55px;
  font-size: var(--fz-main-text);
}
@media (max-width: 550px) {
  .form-services__button button {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: var(--fz-main-small-text);
  }
}
.form-services__policy {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.form-services__policy img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
.form-services__policy p {
  max-width: 241px;
  font-size: var(--fz-main-very-small-text);
  line-height: 14px;
  color: var(--color-main-text-gray);
}
.form-services__policy p a {
  color: #34aadf;
}
[data-aos][data-aos][data-aos-duration="50"], body[data-aos-duration="50"] [data-aos] {
  transition-duration: 50ms;
}

[data-aos][data-aos][data-aos-delay="50"], body[data-aos-delay="50"] [data-aos] {
  transition-delay: 0s;
}

[data-aos][data-aos][data-aos-delay="50"].aos-animate, body[data-aos-delay="50"] [data-aos].aos-animate {
  transition-delay: 50ms;
}

[data-aos][data-aos][data-aos-duration="100"], body[data-aos-duration="100"] [data-aos] {
  transition-duration: 0.1s;
}

[data-aos][data-aos][data-aos-delay="100"], body[data-aos-delay="100"] [data-aos] {
  transition-delay: 0s;
}

[data-aos][data-aos][data-aos-delay="100"].aos-animate, body[data-aos-delay="100"] [data-aos].aos-animate {
  transition-delay: 0.1s;
}

[data-aos][data-aos][data-aos-duration="150"], body[data-aos-duration="150"] [data-aos] {
  transition-duration: 0.15s;
}

[data-aos][data-aos][data-aos-delay="150"], body[data-aos-delay="150"] [data-aos] {
  transition-delay: 0s;
}

[data-aos][data-aos][data-aos-delay="150"].aos-animate, body[data-aos-delay="150"] [data-aos].aos-animate {
  transition-delay: 0.15s;
}

[data-aos][data-aos][data-aos-duration="200"], body[data-aos-duration="200"] [data-aos] {
  transition-duration: 0.2s;
}

[data-aos][data-aos][data-aos-delay="200"], body[data-aos-delay="200"] [data-aos] {
  transition-delay: 0s;
}

[data-aos][data-aos][data-aos-delay="200"].aos-animate, body[data-aos-delay="200"] [data-aos].aos-animate {
  transition-delay: 0.2s;
}

[data-aos][data-aos][data-aos-duration="250"], body[data-aos-duration="250"] [data-aos] {
  transition-duration: 0.25s;
}

[data-aos][data-aos][data-aos-delay="250"], body[data-aos-delay="250"] [data-aos] {
  transition-delay: 0s;
}

[data-aos][data-aos][data-aos-delay="250"].aos-animate, body[data-aos-delay="250"] [data-aos].aos-animate {
  transition-delay: 0.25s;
}

[data-aos][data-aos][data-aos-duration="300"], body[data-aos-duration="300"] [data-aos] {
  transition-duration: 0.3s;
}

[data-aos][data-aos][data-aos-delay="300"], body[data-aos-delay="300"] [data-aos] {
  transition-delay: 0s;
}

[data-aos][data-aos][data-aos-delay="300"].aos-animate, body[data-aos-delay="300"] [data-aos].aos-animate {
  transition-delay: 0.3s;
}

[data-aos][data-aos][data-aos-duration="350"], body[data-aos-duration="350"] [data-aos] {
  transition-duration: 0.35s;
}

[data-aos][data-aos][data-aos-delay="350"], body[data-aos-delay="350"] [data-aos] {
  transition-delay: 0s;
}

[data-aos][data-aos][data-aos-delay="350"].aos-animate, body[data-aos-delay="350"] [data-aos].aos-animate {
  transition-delay: 0.35s;
}

[data-aos][data-aos][data-aos-duration="400"], body[data-aos-duration="400"] [data-aos] {
  transition-duration: 0.4s;
}

[data-aos][data-aos][data-aos-delay="400"], body[data-aos-delay="400"] [data-aos] {
  transition-delay: 0s;
}

[data-aos][data-aos][data-aos-delay="400"].aos-animate, body[data-aos-delay="400"] [data-aos].aos-animate {
  transition-delay: 0.4s;
}

[data-aos][data-aos][data-aos-duration="450"], body[data-aos-duration="450"] [data-aos] {
  transition-duration: 0.45s;
}

[data-aos][data-aos][data-aos-delay="450"], body[data-aos-delay="450"] [data-aos] {
  transition-delay: 0s;
}

[data-aos][data-aos][data-aos-delay="450"].aos-animate, body[data-aos-delay="450"] [data-aos].aos-animate {
  transition-delay: 0.45s;
}

[data-aos][data-aos][data-aos-duration="500"], body[data-aos-duration="500"] [data-aos] {
  transition-duration: 0.5s;
}

[data-aos][data-aos][data-aos-delay="500"], body[data-aos-delay="500"] [data-aos] {
  transition-delay: 0s;
}

[data-aos][data-aos][data-aos-delay="500"].aos-animate, body[data-aos-delay="500"] [data-aos].aos-animate {
  transition-delay: 0.5s;
}

[data-aos][data-aos][data-aos-duration="550"], body[data-aos-duration="550"] [data-aos] {
  transition-duration: 0.55s;
}

[data-aos][data-aos][data-aos-delay="550"], body[data-aos-delay="550"] [data-aos] {
  transition-delay: 0s;
}

[data-aos][data-aos][data-aos-delay="550"].aos-animate, body[data-aos-delay="550"] [data-aos].aos-animate {
  transition-delay: 0.55s;
}

[data-aos][data-aos][data-aos-duration="600"], body[data-aos-duration="600"] [data-aos] {
  transition-duration: 0.6s;
}

[data-aos][data-aos][data-aos-delay="600"], body[data-aos-delay="600"] [data-aos] {
  transition-delay: 0s;
}

[data-aos][data-aos][data-aos-delay="600"].aos-animate, body[data-aos-delay="600"] [data-aos].aos-animate {
  transition-delay: 0.6s;
}

[data-aos][data-aos][data-aos-duration="650"], body[data-aos-duration="650"] [data-aos] {
  transition-duration: 0.65s;
}

[data-aos][data-aos][data-aos-delay="650"], body[data-aos-delay="650"] [data-aos] {
  transition-delay: 0s;
}

[data-aos][data-aos][data-aos-delay="650"].aos-animate, body[data-aos-delay="650"] [data-aos].aos-animate {
  transition-delay: 0.65s;
}

[data-aos][data-aos][data-aos-duration="700"], body[data-aos-duration="700"] [data-aos] {
  transition-duration: 0.7s;
}

[data-aos][data-aos][data-aos-delay="700"], body[data-aos-delay="700"] [data-aos] {
  transition-delay: 0s;
}

[data-aos][data-aos][data-aos-delay="700"].aos-animate, body[data-aos-delay="700"] [data-aos].aos-animate {
  transition-delay: 0.7s;
}

[data-aos][data-aos][data-aos-duration="750"], body[data-aos-duration="750"] [data-aos] {
  transition-duration: 0.75s;
}

[data-aos][data-aos][data-aos-delay="750"], body[data-aos-delay="750"] [data-aos] {
  transition-delay: 0s;
}

[data-aos][data-aos][data-aos-delay="750"].aos-animate, body[data-aos-delay="750"] [data-aos].aos-animate {
  transition-delay: 0.75s;
}

[data-aos][data-aos][data-aos-duration="800"], body[data-aos-duration="800"] [data-aos] {
  transition-duration: 0.8s;
}

[data-aos][data-aos][data-aos-delay="800"], body[data-aos-delay="800"] [data-aos] {
  transition-delay: 0s;
}

[data-aos][data-aos][data-aos-delay="800"].aos-animate, body[data-aos-delay="800"] [data-aos].aos-animate {
  transition-delay: 0.8s;
}

[data-aos][data-aos][data-aos-duration="850"], body[data-aos-duration="850"] [data-aos] {
  transition-duration: 0.85s;
}

[data-aos][data-aos][data-aos-delay="850"], body[data-aos-delay="850"] [data-aos] {
  transition-delay: 0s;
}

[data-aos][data-aos][data-aos-delay="850"].aos-animate, body[data-aos-delay="850"] [data-aos].aos-animate {
  transition-delay: 0.85s;
}

[data-aos][data-aos][data-aos-duration="900"], body[data-aos-duration="900"] [data-aos] {
  transition-duration: 0.9s;
}

[data-aos][data-aos][data-aos-delay="900"], body[data-aos-delay="900"] [data-aos] {
  transition-delay: 0s;
}

[data-aos][data-aos][data-aos-delay="900"].aos-animate, body[data-aos-delay="900"] [data-aos].aos-animate {
  transition-delay: 0.9s;
}

[data-aos][data-aos][data-aos-duration="950"], body[data-aos-duration="950"] [data-aos] {
  transition-duration: 0.95s;
}

[data-aos][data-aos][data-aos-delay="950"], body[data-aos-delay="950"] [data-aos] {
  transition-delay: 0s;
}

[data-aos][data-aos][data-aos-delay="950"].aos-animate, body[data-aos-delay="950"] [data-aos].aos-animate {
  transition-delay: 0.95s;
}

[data-aos][data-aos][data-aos-duration="1000"], body[data-aos-duration="1000"] [data-aos] {
  transition-duration: 1s;
}

[data-aos][data-aos][data-aos-delay="1000"], body[data-aos-delay="1000"] [data-aos] {
  transition-delay: 0s;
}

[data-aos][data-aos][data-aos-delay="1000"].aos-animate, body[data-aos-delay="1000"] [data-aos].aos-animate {
  transition-delay: 1s;
}

[data-aos][data-aos][data-aos-duration="1050"], body[data-aos-duration="1050"] [data-aos] {
  transition-duration: 1.05s;
}

[data-aos][data-aos][data-aos-delay="1050"], body[data-aos-delay="1050"] [data-aos] {
  transition-delay: 0s;
}

[data-aos][data-aos][data-aos-delay="1050"].aos-animate, body[data-aos-delay="1050"] [data-aos].aos-animate {
  transition-delay: 1.05s;
}

[data-aos][data-aos][data-aos-duration="1100"], body[data-aos-duration="1100"] [data-aos] {
  transition-duration: 1.1s;
}

[data-aos][data-aos][data-aos-delay="1100"], body[data-aos-delay="1100"] [data-aos] {
  transition-delay: 0s;
}

[data-aos][data-aos][data-aos-delay="1100"].aos-animate, body[data-aos-delay="1100"] [data-aos].aos-animate {
  transition-delay: 1.1s;
}

[data-aos][data-aos][data-aos-duration="1150"], body[data-aos-duration="1150"] [data-aos] {
  transition-duration: 1.15s;
}

[data-aos][data-aos][data-aos-delay="1150"], body[data-aos-delay="1150"] [data-aos] {
  transition-delay: 0s;
}

[data-aos][data-aos][data-aos-delay="1150"].aos-animate, body[data-aos-delay="1150"] [data-aos].aos-animate {
  transition-delay: 1.15s;
}

[data-aos][data-aos][data-aos-duration="1200"], body[data-aos-duration="1200"] [data-aos] {
  transition-duration: 1.2s;
}

[data-aos][data-aos][data-aos-delay="1200"], body[data-aos-delay="1200"] [data-aos] {
  transition-delay: 0s;
}

[data-aos][data-aos][data-aos-delay="1200"].aos-animate, body[data-aos-delay="1200"] [data-aos].aos-animate {
  transition-delay: 1.2s;
}

[data-aos][data-aos][data-aos-duration="1250"], body[data-aos-duration="1250"] [data-aos] {
  transition-duration: 1.25s;
}

[data-aos][data-aos][data-aos-delay="1250"], body[data-aos-delay="1250"] [data-aos] {
  transition-delay: 0s;
}

[data-aos][data-aos][data-aos-delay="1250"].aos-animate, body[data-aos-delay="1250"] [data-aos].aos-animate {
  transition-delay: 1.25s;
}

[data-aos][data-aos][data-aos-duration="1300"], body[data-aos-duration="1300"] [data-aos] {
  transition-duration: 1.3s;
}

[data-aos][data-aos][data-aos-delay="1300"], body[data-aos-delay="1300"] [data-aos] {
  transition-delay: 0s;
}

[data-aos][data-aos][data-aos-delay="1300"].aos-animate, body[data-aos-delay="1300"] [data-aos].aos-animate {
  transition-delay: 1.3s;
}

[data-aos][data-aos][data-aos-duration="1350"], body[data-aos-duration="1350"] [data-aos] {
  transition-duration: 1.35s;
}

[data-aos][data-aos][data-aos-delay="1350"], body[data-aos-delay="1350"] [data-aos] {
  transition-delay: 0s;
}

[data-aos][data-aos][data-aos-delay="1350"].aos-animate, body[data-aos-delay="1350"] [data-aos].aos-animate {
  transition-delay: 1.35s;
}

[data-aos][data-aos][data-aos-duration="1400"], body[data-aos-duration="1400"] [data-aos] {
  transition-duration: 1.4s;
}

[data-aos][data-aos][data-aos-delay="1400"], body[data-aos-delay="1400"] [data-aos] {
  transition-delay: 0s;
}

[data-aos][data-aos][data-aos-delay="1400"].aos-animate, body[data-aos-delay="1400"] [data-aos].aos-animate {
  transition-delay: 1.4s;
}

[data-aos][data-aos][data-aos-duration="1450"], body[data-aos-duration="1450"] [data-aos] {
  transition-duration: 1.45s;
}

[data-aos][data-aos][data-aos-delay="1450"], body[data-aos-delay="1450"] [data-aos] {
  transition-delay: 0s;
}

[data-aos][data-aos][data-aos-delay="1450"].aos-animate, body[data-aos-delay="1450"] [data-aos].aos-animate {
  transition-delay: 1.45s;
}

[data-aos][data-aos][data-aos-duration="1500"], body[data-aos-duration="1500"] [data-aos] {
  transition-duration: 1.5s;
}

[data-aos][data-aos][data-aos-delay="1500"], body[data-aos-delay="1500"] [data-aos] {
  transition-delay: 0s;
}

[data-aos][data-aos][data-aos-delay="1500"].aos-animate, body[data-aos-delay="1500"] [data-aos].aos-animate {
  transition-delay: 1.5s;
}

[data-aos][data-aos][data-aos-duration="1550"], body[data-aos-duration="1550"] [data-aos] {
  transition-duration: 1.55s;
}

[data-aos][data-aos][data-aos-delay="1550"], body[data-aos-delay="1550"] [data-aos] {
  transition-delay: 0s;
}

[data-aos][data-aos][data-aos-delay="1550"].aos-animate, body[data-aos-delay="1550"] [data-aos].aos-animate {
  transition-delay: 1.55s;
}

[data-aos][data-aos][data-aos-duration="1600"], body[data-aos-duration="1600"] [data-aos] {
  transition-duration: 1.6s;
}

[data-aos][data-aos][data-aos-delay="1600"], body[data-aos-delay="1600"] [data-aos] {
  transition-delay: 0s;
}

[data-aos][data-aos][data-aos-delay="1600"].aos-animate, body[data-aos-delay="1600"] [data-aos].aos-animate {
  transition-delay: 1.6s;
}

[data-aos][data-aos][data-aos-duration="1650"], body[data-aos-duration="1650"] [data-aos] {
  transition-duration: 1.65s;
}

[data-aos][data-aos][data-aos-delay="1650"], body[data-aos-delay="1650"] [data-aos] {
  transition-delay: 0s;
}

[data-aos][data-aos][data-aos-delay="1650"].aos-animate, body[data-aos-delay="1650"] [data-aos].aos-animate {
  transition-delay: 1.65s;
}

[data-aos][data-aos][data-aos-duration="1700"], body[data-aos-duration="1700"] [data-aos] {
  transition-duration: 1.7s;
}

[data-aos][data-aos][data-aos-delay="1700"], body[data-aos-delay="1700"] [data-aos] {
  transition-delay: 0s;
}

[data-aos][data-aos][data-aos-delay="1700"].aos-animate, body[data-aos-delay="1700"] [data-aos].aos-animate {
  transition-delay: 1.7s;
}

[data-aos][data-aos][data-aos-duration="1750"], body[data-aos-duration="1750"] [data-aos] {
  transition-duration: 1.75s;
}

[data-aos][data-aos][data-aos-delay="1750"], body[data-aos-delay="1750"] [data-aos] {
  transition-delay: 0s;
}

[data-aos][data-aos][data-aos-delay="1750"].aos-animate, body[data-aos-delay="1750"] [data-aos].aos-animate {
  transition-delay: 1.75s;
}

[data-aos][data-aos][data-aos-duration="1800"], body[data-aos-duration="1800"] [data-aos] {
  transition-duration: 1.8s;
}

[data-aos][data-aos][data-aos-delay="1800"], body[data-aos-delay="1800"] [data-aos] {
  transition-delay: 0s;
}

[data-aos][data-aos][data-aos-delay="1800"].aos-animate, body[data-aos-delay="1800"] [data-aos].aos-animate {
  transition-delay: 1.8s;
}

[data-aos][data-aos][data-aos-duration="1850"], body[data-aos-duration="1850"] [data-aos] {
  transition-duration: 1.85s;
}

[data-aos][data-aos][data-aos-delay="1850"], body[data-aos-delay="1850"] [data-aos] {
  transition-delay: 0s;
}

[data-aos][data-aos][data-aos-delay="1850"].aos-animate, body[data-aos-delay="1850"] [data-aos].aos-animate {
  transition-delay: 1.85s;
}

[data-aos][data-aos][data-aos-duration="1900"], body[data-aos-duration="1900"] [data-aos] {
  transition-duration: 1.9s;
}

[data-aos][data-aos][data-aos-delay="1900"], body[data-aos-delay="1900"] [data-aos] {
  transition-delay: 0s;
}

[data-aos][data-aos][data-aos-delay="1900"].aos-animate, body[data-aos-delay="1900"] [data-aos].aos-animate {
  transition-delay: 1.9s;
}

[data-aos][data-aos][data-aos-duration="1950"], body[data-aos-duration="1950"] [data-aos] {
  transition-duration: 1.95s;
}

[data-aos][data-aos][data-aos-delay="1950"], body[data-aos-delay="1950"] [data-aos] {
  transition-delay: 0s;
}

[data-aos][data-aos][data-aos-delay="1950"].aos-animate, body[data-aos-delay="1950"] [data-aos].aos-animate {
  transition-delay: 1.95s;
}

[data-aos][data-aos][data-aos-duration="2000"], body[data-aos-duration="2000"] [data-aos] {
  transition-duration: 2s;
}

[data-aos][data-aos][data-aos-delay="2000"], body[data-aos-delay="2000"] [data-aos] {
  transition-delay: 0s;
}

[data-aos][data-aos][data-aos-delay="2000"].aos-animate, body[data-aos-delay="2000"] [data-aos].aos-animate {
  transition-delay: 2s;
}

[data-aos][data-aos][data-aos-duration="2050"], body[data-aos-duration="2050"] [data-aos] {
  transition-duration: 2.05s;
}

[data-aos][data-aos][data-aos-delay="2050"], body[data-aos-delay="2050"] [data-aos] {
  transition-delay: 0s;
}

[data-aos][data-aos][data-aos-delay="2050"].aos-animate, body[data-aos-delay="2050"] [data-aos].aos-animate {
  transition-delay: 2.05s;
}

[data-aos][data-aos][data-aos-duration="2100"], body[data-aos-duration="2100"] [data-aos] {
  transition-duration: 2.1s;
}

[data-aos][data-aos][data-aos-delay="2100"], body[data-aos-delay="2100"] [data-aos] {
  transition-delay: 0s;
}

[data-aos][data-aos][data-aos-delay="2100"].aos-animate, body[data-aos-delay="2100"] [data-aos].aos-animate {
  transition-delay: 2.1s;
}

[data-aos][data-aos][data-aos-duration="2150"], body[data-aos-duration="2150"] [data-aos] {
  transition-duration: 2.15s;
}

[data-aos][data-aos][data-aos-delay="2150"], body[data-aos-delay="2150"] [data-aos] {
  transition-delay: 0s;
}

[data-aos][data-aos][data-aos-delay="2150"].aos-animate, body[data-aos-delay="2150"] [data-aos].aos-animate {
  transition-delay: 2.15s;
}

[data-aos][data-aos][data-aos-duration="2200"], body[data-aos-duration="2200"] [data-aos] {
  transition-duration: 2.2s;
}

[data-aos][data-aos][data-aos-delay="2200"], body[data-aos-delay="2200"] [data-aos] {
  transition-delay: 0s;
}

[data-aos][data-aos][data-aos-delay="2200"].aos-animate, body[data-aos-delay="2200"] [data-aos].aos-animate {
  transition-delay: 2.2s;
}

[data-aos][data-aos][data-aos-duration="2250"], body[data-aos-duration="2250"] [data-aos] {
  transition-duration: 2.25s;
}

[data-aos][data-aos][data-aos-delay="2250"], body[data-aos-delay="2250"] [data-aos] {
  transition-delay: 0s;
}

[data-aos][data-aos][data-aos-delay="2250"].aos-animate, body[data-aos-delay="2250"] [data-aos].aos-animate {
  transition-delay: 2.25s;
}

[data-aos][data-aos][data-aos-duration="2300"], body[data-aos-duration="2300"] [data-aos] {
  transition-duration: 2.3s;
}

[data-aos][data-aos][data-aos-delay="2300"], body[data-aos-delay="2300"] [data-aos] {
  transition-delay: 0s;
}

[data-aos][data-aos][data-aos-delay="2300"].aos-animate, body[data-aos-delay="2300"] [data-aos].aos-animate {
  transition-delay: 2.3s;
}

[data-aos][data-aos][data-aos-duration="2350"], body[data-aos-duration="2350"] [data-aos] {
  transition-duration: 2.35s;
}

[data-aos][data-aos][data-aos-delay="2350"], body[data-aos-delay="2350"] [data-aos] {
  transition-delay: 0s;
}

[data-aos][data-aos][data-aos-delay="2350"].aos-animate, body[data-aos-delay="2350"] [data-aos].aos-animate {
  transition-delay: 2.35s;
}

[data-aos][data-aos][data-aos-duration="2400"], body[data-aos-duration="2400"] [data-aos] {
  transition-duration: 2.4s;
}

[data-aos][data-aos][data-aos-delay="2400"], body[data-aos-delay="2400"] [data-aos] {
  transition-delay: 0s;
}

[data-aos][data-aos][data-aos-delay="2400"].aos-animate, body[data-aos-delay="2400"] [data-aos].aos-animate {
  transition-delay: 2.4s;
}

[data-aos][data-aos][data-aos-duration="2450"], body[data-aos-duration="2450"] [data-aos] {
  transition-duration: 2.45s;
}

[data-aos][data-aos][data-aos-delay="2450"], body[data-aos-delay="2450"] [data-aos] {
  transition-delay: 0s;
}

[data-aos][data-aos][data-aos-delay="2450"].aos-animate, body[data-aos-delay="2450"] [data-aos].aos-animate {
  transition-delay: 2.45s;
}

[data-aos][data-aos][data-aos-duration="2500"], body[data-aos-duration="2500"] [data-aos] {
  transition-duration: 2.5s;
}

[data-aos][data-aos][data-aos-delay="2500"], body[data-aos-delay="2500"] [data-aos] {
  transition-delay: 0s;
}

[data-aos][data-aos][data-aos-delay="2500"].aos-animate, body[data-aos-delay="2500"] [data-aos].aos-animate {
  transition-delay: 2.5s;
}

[data-aos][data-aos][data-aos-duration="2550"], body[data-aos-duration="2550"] [data-aos] {
  transition-duration: 2.55s;
}

[data-aos][data-aos][data-aos-delay="2550"], body[data-aos-delay="2550"] [data-aos] {
  transition-delay: 0s;
}

[data-aos][data-aos][data-aos-delay="2550"].aos-animate, body[data-aos-delay="2550"] [data-aos].aos-animate {
  transition-delay: 2.55s;
}

[data-aos][data-aos][data-aos-duration="2600"], body[data-aos-duration="2600"] [data-aos] {
  transition-duration: 2.6s;
}

[data-aos][data-aos][data-aos-delay="2600"], body[data-aos-delay="2600"] [data-aos] {
  transition-delay: 0s;
}

[data-aos][data-aos][data-aos-delay="2600"].aos-animate, body[data-aos-delay="2600"] [data-aos].aos-animate {
  transition-delay: 2.6s;
}

[data-aos][data-aos][data-aos-duration="2650"], body[data-aos-duration="2650"] [data-aos] {
  transition-duration: 2.65s;
}

[data-aos][data-aos][data-aos-delay="2650"], body[data-aos-delay="2650"] [data-aos] {
  transition-delay: 0s;
}

[data-aos][data-aos][data-aos-delay="2650"].aos-animate, body[data-aos-delay="2650"] [data-aos].aos-animate {
  transition-delay: 2.65s;
}

[data-aos][data-aos][data-aos-duration="2700"], body[data-aos-duration="2700"] [data-aos] {
  transition-duration: 2.7s;
}

[data-aos][data-aos][data-aos-delay="2700"], body[data-aos-delay="2700"] [data-aos] {
  transition-delay: 0s;
}

[data-aos][data-aos][data-aos-delay="2700"].aos-animate, body[data-aos-delay="2700"] [data-aos].aos-animate {
  transition-delay: 2.7s;
}

[data-aos][data-aos][data-aos-duration="2750"], body[data-aos-duration="2750"] [data-aos] {
  transition-duration: 2.75s;
}

[data-aos][data-aos][data-aos-delay="2750"], body[data-aos-delay="2750"] [data-aos] {
  transition-delay: 0s;
}

[data-aos][data-aos][data-aos-delay="2750"].aos-animate, body[data-aos-delay="2750"] [data-aos].aos-animate {
  transition-delay: 2.75s;
}

[data-aos][data-aos][data-aos-duration="2800"], body[data-aos-duration="2800"] [data-aos] {
  transition-duration: 2.8s;
}

[data-aos][data-aos][data-aos-delay="2800"], body[data-aos-delay="2800"] [data-aos] {
  transition-delay: 0s;
}

[data-aos][data-aos][data-aos-delay="2800"].aos-animate, body[data-aos-delay="2800"] [data-aos].aos-animate {
  transition-delay: 2.8s;
}

[data-aos][data-aos][data-aos-duration="2850"], body[data-aos-duration="2850"] [data-aos] {
  transition-duration: 2.85s;
}

[data-aos][data-aos][data-aos-delay="2850"], body[data-aos-delay="2850"] [data-aos] {
  transition-delay: 0s;
}

[data-aos][data-aos][data-aos-delay="2850"].aos-animate, body[data-aos-delay="2850"] [data-aos].aos-animate {
  transition-delay: 2.85s;
}

[data-aos][data-aos][data-aos-duration="2900"], body[data-aos-duration="2900"] [data-aos] {
  transition-duration: 2.9s;
}

[data-aos][data-aos][data-aos-delay="2900"], body[data-aos-delay="2900"] [data-aos] {
  transition-delay: 0s;
}

[data-aos][data-aos][data-aos-delay="2900"].aos-animate, body[data-aos-delay="2900"] [data-aos].aos-animate {
  transition-delay: 2.9s;
}

[data-aos][data-aos][data-aos-duration="2950"], body[data-aos-duration="2950"] [data-aos] {
  transition-duration: 2.95s;
}

[data-aos][data-aos][data-aos-delay="2950"], body[data-aos-delay="2950"] [data-aos] {
  transition-delay: 0s;
}

[data-aos][data-aos][data-aos-delay="2950"].aos-animate, body[data-aos-delay="2950"] [data-aos].aos-animate {
  transition-delay: 2.95s;
}

[data-aos][data-aos][data-aos-duration="3000"], body[data-aos-duration="3000"] [data-aos] {
  transition-duration: 3s;
}

[data-aos][data-aos][data-aos-delay="3000"], body[data-aos-delay="3000"] [data-aos] {
  transition-delay: 0s;
}

[data-aos][data-aos][data-aos-delay="3000"].aos-animate, body[data-aos-delay="3000"] [data-aos].aos-animate {
  transition-delay: 3s;
}

[data-aos] {
  pointer-events: none;
}

[data-aos].aos-animate {
  pointer-events: auto;
}

[data-aos][data-aos][data-aos-easing=linear], body[data-aos-easing=linear] [data-aos] {
  transition-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75);
}

[data-aos][data-aos][data-aos-easing=ease], body[data-aos-easing=ease] [data-aos] {
  transition-timing-function: ease;
}

[data-aos][data-aos][data-aos-easing=ease-in], body[data-aos-easing=ease-in] [data-aos] {
  transition-timing-function: ease-in;
}

[data-aos][data-aos][data-aos-easing=ease-out], body[data-aos-easing=ease-out] [data-aos] {
  transition-timing-function: ease-out;
}

[data-aos][data-aos][data-aos-easing=ease-in-out], body[data-aos-easing=ease-in-out] [data-aos] {
  transition-timing-function: ease-in-out;
}

[data-aos][data-aos][data-aos-easing=ease-in-back], body[data-aos-easing=ease-in-back] [data-aos] {
  transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

[data-aos][data-aos][data-aos-easing=ease-out-back], body[data-aos-easing=ease-out-back] [data-aos] {
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

[data-aos][data-aos][data-aos-easing=ease-in-out-back], body[data-aos-easing=ease-in-out-back] [data-aos] {
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

[data-aos][data-aos][data-aos-easing=ease-in-sine], body[data-aos-easing=ease-in-sine] [data-aos] {
  transition-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
}

[data-aos][data-aos][data-aos-easing=ease-out-sine], body[data-aos-easing=ease-out-sine] [data-aos] {
  transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
}

[data-aos][data-aos][data-aos-easing=ease-in-out-sine], body[data-aos-easing=ease-in-out-sine] [data-aos] {
  transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

[data-aos][data-aos][data-aos-easing=ease-in-quad], body[data-aos-easing=ease-in-quad] [data-aos] {
  transition-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

[data-aos][data-aos][data-aos-easing=ease-out-quad], body[data-aos-easing=ease-out-quad] [data-aos] {
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

[data-aos][data-aos][data-aos-easing=ease-in-out-quad], body[data-aos-easing=ease-in-out-quad] [data-aos] {
  transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

[data-aos][data-aos][data-aos-easing=ease-in-cubic], body[data-aos-easing=ease-in-cubic] [data-aos] {
  transition-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

[data-aos][data-aos][data-aos-easing=ease-out-cubic], body[data-aos-easing=ease-out-cubic] [data-aos] {
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

[data-aos][data-aos][data-aos-easing=ease-in-out-cubic], body[data-aos-easing=ease-in-out-cubic] [data-aos] {
  transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

[data-aos][data-aos][data-aos-easing=ease-in-quart], body[data-aos-easing=ease-in-quart] [data-aos] {
  transition-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

[data-aos][data-aos][data-aos-easing=ease-out-quart], body[data-aos-easing=ease-out-quart] [data-aos] {
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

[data-aos][data-aos][data-aos-easing=ease-in-out-quart], body[data-aos-easing=ease-in-out-quart] [data-aos] {
  transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

@media screen {
  html:not(.no-js) [data-aos^=fade][data-aos^=fade] {
    opacity: 0;
    transition-property: opacity, -webkit-transform;
    transition-property: opacity, transform;
    transition-property: opacity, transform, -webkit-transform;
  }

  html:not(.no-js) [data-aos^=fade][data-aos^=fade].aos-animate {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }

  html:not(.no-js) [data-aos=fade-up] {
    -webkit-transform: translate3d(0, 100px, 0);
    transform: translate3d(0, 100px, 0);
  }

  html:not(.no-js) [data-aos=fade-down] {
    -webkit-transform: translate3d(0, -100px, 0);
    transform: translate3d(0, -100px, 0);
  }

  html:not(.no-js) [data-aos=fade-right] {
    -webkit-transform: translate3d(-100px, 0, 0);
    transform: translate3d(-100px, 0, 0);
  }

  html:not(.no-js) [data-aos=fade-left] {
    -webkit-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
  }

  html:not(.no-js) [data-aos=fade-up-right] {
    -webkit-transform: translate3d(-100px, 100px, 0);
    transform: translate3d(-100px, 100px, 0);
  }

  html:not(.no-js) [data-aos=fade-up-left] {
    -webkit-transform: translate3d(100px, 100px, 0);
    transform: translate3d(100px, 100px, 0);
  }

  html:not(.no-js) [data-aos=fade-down-right] {
    -webkit-transform: translate3d(-100px, -100px, 0);
    transform: translate3d(-100px, -100px, 0);
  }

  html:not(.no-js) [data-aos=fade-down-left] {
    -webkit-transform: translate3d(100px, -100px, 0);
    transform: translate3d(100px, -100px, 0);
  }

  html:not(.no-js) [data-aos^=zoom][data-aos^=zoom] {
    opacity: 0;
    transition-property: opacity, -webkit-transform;
    transition-property: opacity, transform;
    transition-property: opacity, transform, -webkit-transform;
  }

  html:not(.no-js) [data-aos^=zoom][data-aos^=zoom].aos-animate {
    opacity: 1;
    -webkit-transform: translateZ(0) scale(1);
    transform: translateZ(0) scale(1);
  }

  html:not(.no-js) [data-aos=zoom-in] {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
  }

  html:not(.no-js) [data-aos=zoom-in-up] {
    -webkit-transform: translate3d(0, 100px, 0) scale(0.6);
    transform: translate3d(0, 100px, 0) scale(0.6);
  }

  html:not(.no-js) [data-aos=zoom-in-down] {
    -webkit-transform: translate3d(0, -100px, 0) scale(0.6);
    transform: translate3d(0, -100px, 0) scale(0.6);
  }

  html:not(.no-js) [data-aos=zoom-in-right] {
    -webkit-transform: translate3d(-100px, 0, 0) scale(0.6);
    transform: translate3d(-100px, 0, 0) scale(0.6);
  }

  html:not(.no-js) [data-aos=zoom-in-left] {
    -webkit-transform: translate3d(100px, 0, 0) scale(0.6);
    transform: translate3d(100px, 0, 0) scale(0.6);
  }

  html:not(.no-js) [data-aos=zoom-out] {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  html:not(.no-js) [data-aos=zoom-out-up] {
    -webkit-transform: translate3d(0, 100px, 0) scale(1.2);
    transform: translate3d(0, 100px, 0) scale(1.2);
  }

  html:not(.no-js) [data-aos=zoom-out-down] {
    -webkit-transform: translate3d(0, -100px, 0) scale(1.2);
    transform: translate3d(0, -100px, 0) scale(1.2);
  }

  html:not(.no-js) [data-aos=zoom-out-right] {
    -webkit-transform: translate3d(-100px, 0, 0) scale(1.2);
    transform: translate3d(-100px, 0, 0) scale(1.2);
  }

  html:not(.no-js) [data-aos=zoom-out-left] {
    -webkit-transform: translate3d(100px, 0, 0) scale(1.2);
    transform: translate3d(100px, 0, 0) scale(1.2);
  }

  html:not(.no-js) [data-aos^=slide][data-aos^=slide] {
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    visibility: hidden;
  }

  html:not(.no-js) [data-aos^=slide][data-aos^=slide].aos-animate {
    visibility: visible;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  html:not(.no-js) [data-aos=slide-up] {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  html:not(.no-js) [data-aos=slide-down] {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  html:not(.no-js) [data-aos=slide-right] {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  html:not(.no-js) [data-aos=slide-left] {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  html:not(.no-js) [data-aos^=flip][data-aos^=flip] {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
  }

  html:not(.no-js) [data-aos=flip-left] {
    -webkit-transform: perspective(2500px) rotateY(-100deg);
    transform: perspective(2500px) rotateY(-100deg);
  }

  html:not(.no-js) [data-aos=flip-left].aos-animate {
    -webkit-transform: perspective(2500px) rotateY(0);
    transform: perspective(2500px) rotateY(0);
  }

  html:not(.no-js) [data-aos=flip-right] {
    -webkit-transform: perspective(2500px) rotateY(100deg);
    transform: perspective(2500px) rotateY(100deg);
  }

  html:not(.no-js) [data-aos=flip-right].aos-animate {
    -webkit-transform: perspective(2500px) rotateY(0);
    transform: perspective(2500px) rotateY(0);
  }

  html:not(.no-js) [data-aos=flip-up] {
    -webkit-transform: perspective(2500px) rotateX(-100deg);
    transform: perspective(2500px) rotateX(-100deg);
  }

  html:not(.no-js) [data-aos=flip-up].aos-animate {
    -webkit-transform: perspective(2500px) rotateX(0);
    transform: perspective(2500px) rotateX(0);
  }

  html:not(.no-js) [data-aos=flip-down] {
    -webkit-transform: perspective(2500px) rotateX(100deg);
    transform: perspective(2500px) rotateX(100deg);
  }

  html:not(.no-js) [data-aos=flip-down].aos-animate {
    -webkit-transform: perspective(2500px) rotateX(0);
    transform: perspective(2500px) rotateX(0);
  }
}
